<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-col">
      <h3>Brf Bullerbyn</h3>
      <p>Bostadsrättsförening i Bara<br>Org.nr 769636-3394</p>
    </div>
    <div class="footer-col">
      <h3>Kontakt</h3>
      <p><a href="kontakt">Kontakta styrelsen</a><br><a href="felanmalan">Felanmälan</a></p>
    </div>
    <div class="footer-col">
      <h3>Snabblänkar</h3>
      <p><a href="styrelsen">Styrelsen</a><br><a href="regler">Regler &amp; råd</a><br><a href="om-foreningen">Om föreningen</a></p>
    </div>
  </div>
  <div class="container footer-bottom">
    <small>&copy; <span id="year"></span> Brf Bullerbyn</small>
    <small class="credit"><em>by Filippa Jakobsson Consulting AB</em></small>
  </div>
</footer>
